body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(12, 12, 61);
    color: whitesmoke;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
